<div class="who-we-are-container">
  <app-header rootClassName="header-root-class-name1"></app-header>
  <div class="who-we-are-container1">
    <h2>Who We Are</h2>
    <span class="who-we-are-text1">
      We are a group of engineers and managers with a combined industry
      experience of over 34 years. Our members have extensive experience with
      working within the networking and cloud domains.
    </span>
  </div>
  <div class="who-we-are-container2">
    <img alt="image" src="/assets/aws-200h.png" class="who-we-are-image" />
    <img
      alt="image"
      src="/assets/cisco-logo-200h.png"
      class="who-we-are-image1"
    />
    <img
      alt="image"
      src="/assets/jp-morgan-chase-logo-200h.png"
      class="who-we-are-image2"
    />
    <img
      alt="image"
      src="/assets/walt-disney-logo-transparent-free-png-200h.png"
      class="who-we-are-image3"
    />
  </div>
</div>
